.webapp-header {
  background-color: var(--background-secondary);
  display: flex;
  padding: 20px;
  font-size: 18px;

  a {
    padding-right: 20px;
    text-decoration: none;
  }
}

.name-titlecard {
  margin-right: auto;
  font-weight: bold;
}
