@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Theme Vars */
.light {
  --background: #f4f4f4;
  --background-secondary: #ffffff;
  --background-tertiary: #ffffff;
  --foreground: #171717;
  --foreground-hover: #2e59ba;
}

.dark {
  --background: #0a0a0a;
  --background-secondary: #282827;
  --background-tertiary: #1f1b24;
  --foreground: #ededed;
  --foreground-hover: #aed8f2;
}


/* Global HTML tags */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--foreground);
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--foreground);
  &:hover {
    color: var(--foreground-hover);
  }
}
